<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAIAPIKey</key>
	<string>YOUR_OPENAI_API_KEY_HERE</string>
	<key>VAPIAPIKey</key>
	<string>6c93fc70-e0a5-4210-999f-a2c762c78605</string>
	<key>ZoomSDKKey</key>
	<string>THzh9ns7SzBcJQpycvB3453FnAegwkWKVuoh</string>
	<key>ZoomSDKSecret</key>
	<string>tSCbGysDjUAq9GToSoXauoEioSxRW5SCMzGF</string>
</dict>
</plist>
